body {
  font-family: "itc-stone-sans-reg", "montserrat", sans-serif;
  background-image: url("../img/westend.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #f2f2f2;
  background-position: 50% 50%;
}
.main {
  background: none;
  overflow: hidden;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin: auto auto;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8) 5% 95%,
    rgba(0, 0, 0, 0.7)
  );
}

.centered {
  margin: 10px auto 10px auto;
}

.circled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.base_grid {
  display: grid;
  width: 90%;
  margin: 0px auto;
  column-gap: 10px;
  text-align: left;
}
.drawer {
  grid-column: 1/4;
  padding-left: 15px;
  cursor: auto;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  /* z-index: -1; */
}
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 100px minmax(75px, auto) 50px;
  grid-template-rows: repeat(2, auto);
  border: 2px solid #969696;
  border-radius: 5px;
  overflow: hidden;
  /* background: gray; */
  cursor: pointer;
  border-bottom: 1px solid #969696;
  text-align: left;
  width: 90%;
  margin: 20px auto auto auto;
  max-width: 300px;
}

.container > span {
  border-bottom: 2px solid #969696;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.back {
  max-width: 200px;
  text-decoration: none;
  color: #f2f2f2;
}

.span_carrot {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* float: left; */
  margin-left: 10px;
}

.span_img {
  display: flex;
}

.error {
  color: rgb(255, 88, 88);
}

.goal {
  grid-template-columns: 100px minmax(100px, 100%);
}
.constraints {
  grid-template-columns: minmax(100px, 100%);
}
.options {
  grid-template-columns: minmax(0px, 100%) 110px 110px minmax(0px, 100%);
  grid-template-rows: 30px 30px 30px 25px;
  margin: 10px auto 0 auto;
  row-gap: 10px;
}
.traceback {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  overflow: auto;
  font-size: 8pt;
  font-family: monospace, "itc-stone-sans-reg", "montserrat", sans-serif;
  padding: 0px 10px 0px 10px;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid white;
  width: auto;
  min-width: 100px;
}

table {
  margin: auto;
}

th {
  background: rgba(0, 68, 255, 0.219);
}

h4 {
  color: #979797;
}
.contact_imgs {
  width: 45px;
  padding: 5px;
  border-radius: 50%;
}

.contact_div {
  margin-top: -10px;
}

.big_img {
  border-radius: 10px;
  max-width: 90%;
}

.constraints_list {
  width: fit-content;
  font-family: inherit;
}
