<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Linear Programming Solver</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../static/img/LP.ico" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/font.css" />
    <link rel="stylesheet" href="../static/css/tooltip.css" />
    <link rel="stylesheet" href="../static/css/scrollbar.css" />
    <link rel="stylesheet" href="../static/css/forms.css" />
    <script src="../static/index.js"></script>
    <!--<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tooltip.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/scrollbar.css') }}"
    /> -->
  </head>
  <body>
    <div class="main">
      <div>
        <h1>Linear Programming Solver</h1>
        <img src="../static/img/LP.png" alt="LP" height="100px" />
      </div>

      <form action="{{ url_for("form")}}" method="post">
      <div class="centered">objective function:</div>
      <div>
        <span
          class="base_grid"
          style="grid-template-columns: 100px minmax(100px, 100%)"
        >
          <select name="goal" id="goal">
            <option value="maximize" selected>maximize</option>
            <option value="minimize">minimize</option></select
          ><textarea
            name="obj_func"
            id="obj_func"
            cols="30"
            rows="1"
            placeholder="2*x1 + 5*x2"
          ></textarea>
        </span>
      </div>
      <div class="centered">constraints</div>
      <div class="base_grid" style="grid-template-columns: minmax(100px, 100%)">
        <textarea
          name="constraints"
          id="constraints"
          cols="30"
          rows="10"
          placeholder="x1 + x2 == 10&#10;-2*x1+3*x2 <= -6&#10;8*x1 - 4*x2 >= 8&#10;x1 >= 0&#10;x2 >= 0"
        ></textarea>
      </div>
      <button type="submit" class="submit">submit</button>

      <span class="container">
        <span
          class="span_img"
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-1-1"
        >
          <img
            src="../static/img/wrench.png"
            height="50"
            width="50"
            class="image"
            alt="T"
          />
        </span>
        <span
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-2-1"
        >
          <h2>settings</h2>
        </span>
        <span
          class="span_img"
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-3-1"
        >
          <img
            src="../static/img/carrot.png"
            height="25"
            width="25"
            class="image"
            alt="carrot"
            id="carrot-1"
          />
        </span>
        <span id="drawer-1" class="drawer" style="display: none">
          <div
            class="base_grid"
            style="
              grid-template-columns: minmax(0px, 100%) 65px 100px 80px 100px minmax(
                  0px,
                  100%
                );
              margin: 10px auto 0 auto;
            "
          >
            <span></span>
          </div>
          <div
            class="base_grid"
            style="
              grid-template-columns: minmax(0px, 100%) 110px 110px minmax(
                  0px,
                  100%
                );
              grid-template-rows: 30px 30px 25px;
              margin: 10px auto 0 auto;
              row-gap: 10px;
            "
          >
            <span></span>
            <span>epsilon: </span>
            <input
              type="number"
              name="epsilon"
              id="epsilon"
              value="0.0001"
              step="any"
            /><span></span><span></span><span>rounding: </span>
            <select name="round" id="round">
              <option value="auto" selected>auto</option>
              <option value="down">down</option>
              <option value="up">up</option></select
            ><span></span><span></span> <button type="reset">reset</button
            ><button type="button" onclick="loadTestData()">
              load test data
            </button>
          </div>
        </span>
      </span>
    </div>
  </body>
</html>
