<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Linear Programming Solver</title>
    <meta
      name="description"
      content="A site to solve Linear progrmaming problems"
    />
    <meta name="keywords" content="Optimization, Linear Programming" />
    <meta name="author" content="Johan Cho" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='img/LP.ico')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tooltip.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/scrollbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forms.css') }}"
    />

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div class="main">
      <div>
        <h1>Linear Programming Solver</h1>
        <img src="../static/img/LP.png" alt="LP" height="100px" />
      </div>

      <form action="{{ url_for("form")}}" method="post">
      <div class="centered">objective function:</div>
      <div>
        <span class="goal base_grid">
          <select name="goal" id="goal">
            <option value="maximize" selected>maximize</option>
            <option value="minimize">minimize</option></select
          ><textarea
            name="obj_func"
            id="obj_func"
            cols="30"
            rows="1"
            placeholder="2*x1 + 5*x2"
            autocomplete="on"
          ></textarea>
        </span>
      </div>
      <div class="centered">constraints</div>
      <div class="constraints base_grid">
        <textarea
          name="constraints"
          id="constraints"
          cols="30"
          rows="10"
          autocomplete="on"
          placeholder="x1 + x2 <= 10&#10;-2*x1 + 3*x2 <= -6&#10;8*x1 - 4*x2 >= 8&#10;x1 >= 0&#10;x2 >= 0"
        ></textarea>
      </div>
      <button type="submit" class="submit">submit</button>

      <span class="container">
        <span
          class="span_img"
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-1-1"
        >
          <img
            src="{{ url_for('static', filename='img/wrench.png') }}"
            height="50"
            width="50"
            class="image"
            alt="wrench"
          />
        </span>
        <span
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-2-1"
        >
          <h2>settings</h2>
        </span>
        <span
          class="span_img"
          onclick="openDrawer('1')"
          onmouseover="hoverDrawer('1')"
          onmouseleave="unhoverDrawer('1')"
          id="col-3-1"
        >
          <img
            src="{{ url_for('static', filename='img/carrot.png') }}"
            height="25"
            width="25"
            class="image"
            alt="carrot"
            id="carrot-1"
          />
        </span>
        <span id="drawer-1" class="drawer" style="display: none">
          <div class="options base_grid">
            <span></span
            ><span class="tooltip"
              >method:
              <span
                ><span class="tooltiptext"
                  >Evaluation method. "GLOP" is reccomended.</span
                ></span
              ></span
            >
            <select name="method" id="method">
              <option value="CLP">CLP</option>
              <option value="CBC">CBC</option>
              <option value="GLOP" selected>GLOP</option>
              <option value="BOP">BOP</option>
              <option value="SAT">SAT</option>
              <option value="SCIP">SCIP</option>
              <option value="GUROBI_LP">GUROBI_LP</option>
              <option value="GUROBI_MIP">GUROBI_MIP</option>
              <option value="CPLEX_LP">CPLEX_LP</option>
              <option value="CPLEX_MIP">CPLEX_MIP</option>
              <option value="XPRESS_LP">XPRESS_LP</option>
              <option value="XPRESS_MIP">XPRESS_MIP</option>
              <option value="GLPK_LP">GLPK_LP</option>
              <option value="GLPK_MIP">GLPK_MIP</option>
            </select>
            <span></span><span></span>

            <span class="tooltip"
              >epsilon:
              <span
                ><span class="tooltiptext"
                  >Offset to implement "<", ">"</span
                ></span
              ></span
            >
            <input
              type="number"
              name="epsilon"
              id="epsilon"
              value="1"
              step="any"
              autocomplete="on"
            /><span></span><span></span
            ><span class="tooltip"
              >rounding:
              <span
                ><span class="tooltiptext">rounding method.</span></span
              ></span
            >
            <select name="round" id="round">
              <option value="auto" selected>auto</option>
              <option value="down">down</option>
              <option value="up">up</option></select
            ><span></span><span></span>
            <span class="tooltip"
              >autoround
              <span
                ><span class="tooltiptext"
                  >autorounds solution and variables</span
                ></span
              ></span
            >
            <input
              type="number"
              name="autoround"
              id="autoround"
              value="5"
              autocomplete="on"
            /><span></span><span></span> <button type="reset">reset</button
            ><button type="button" onclick="loadTestData()">
              load test data
            </button>
          </div>
        </span>
      </span>

      <div class="contact_div">
        <h4>This was a personal project.</h4>
        <span
          class="tooltip-mini_image"
          onmouseover="hoverImage('github')"
          onmouseleave="unhoverImage('github')"
        >
          <span class="tooltiptext-mini_image">View this repository</span>
          <a href="https://github.com/tandy-c/linear_programmer">
            <img
              src="/static/img/github.png"
              class="contact_imgs"
              alt="github"
              id="github"
            /> </a
        ></span>
        <span
          class="tooltip-mini_image"
          onmouseover="hoverImage('about_me')"
          onmouseleave="unhoverImage('about_me')"
        >
          <span class="tooltiptext-mini_image">About me!</span>
          <a href="https://tandy-c.github.io/website/">
            <img
              src="static/img/johan.png"
              class="contact_imgs"
              alt="about_me"
              id="about_me"
            /> </a
        ></span>
        <span
          class="tooltip-mini_image"
          onmouseover="hoverImage('linkedin')"
          onmouseleave="unhoverImage('linkedin')"
        >
          <span class="tooltiptext-mini_image">My Linkedin</span>
          <a href="https://www.linkedin.com/in/chojohan/">
            <img
              src="static/img/linkedin.png"
              class="contact_imgs"
              alt="linkedin"
              id="linkedin"
            /> </a
        ></span>
        <span
          class="tooltip-mini_image"
          onmouseover="hoverImage('facebook')"
          onmouseleave="unhoverImage('facebook')"
        >
          <span class="tooltiptext-mini_image">My Facebook</span>
          <a href="https://www.facebook.com/johan.cho.927">
            <img
              src="static/img/facebook.png"
              class="contact_imgs"
              alt="facebook"
              id="facebook"
            /> </a
        ></span>
        <span
          class="tooltip-mini_image"
          onmouseover="hoverImage('youtube')"
          onmouseleave="unhoverImage('youtube')"
        >
          <span class="tooltiptext-mini_image"
            >My Youtube (haven't touched it in a bit)</span
          >
          <a href="https://www.youtube.com/channel/UCP91LPgRFY03YoIGrmuMH9A">
            <img
              src="static/img/youtube.png"
              class="contact_imgs"
              alt="youtube"
              id="youtube"
            /> </a
        ></span>
      </div>
    </div>
  </body>
</html>
