<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Linear Programming Solver</title>
    <meta
      name="description"
      content="A site to solve Linear progrmaming problems"
    />
    <meta name="keywords" content="Optimization, Linear Programming" />
    <meta name="author" content="Johan Cho" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="{{ url_for('static', filename='img/LP.ico')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tooltip.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/scrollbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forms.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div class="main">
      <div>
        <h1 class="error">The Objective Function Is Required.</h1>
        <img
          src="{{ url_for('static', filename='img/LP.png') }}"
          alt="LP"
          height="100px"
        />
        <div class="error centered">
          <h2>you entered: {{_obj_func}}</h2>
        </div>
        <a class="back container" href="../">
          <span
            class="span_img"
            onmouseover="hoverDrawer('1')"
            onmouseleave="unhoverDrawer('1')"
            id="col-1-1"
          >
            <img
              src="{{ url_for('static', filename='img/arrow.png') }}"
              height="50"
              width="50"
              class="image"
              alt="T"
            />
          </span>
          <span
            onmouseover="hoverDrawer('1')"
            onmouseleave="unhoverDrawer('1')"
            id="col-2-1"
          >
            <h2>back</h2>
          </span>
          <span
            class="span_img"
            onmouseover="hoverDrawer('1')"
            onmouseleave="unhoverDrawer('1')"
            id="col-3-1"
          ></span>
        </a>
      </div>
    </div>
  </body>
</html>
